.bar-chart-wrapper{
    background-color: #fff;
    .bar-chart-table{
        margin: 30px;
        margin-bottom: 20px;
    }
    .bar-chart-menu{
        line-height: 80px;
    }
}
.line-chart-wrapper{
    background-color: #fff;
    .bar-chart-table{
        margin: 30px;
        margin-bottom: 20px;
    }
    .line-chart-menu{
        line-height: 80px;
    }
}